*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
}
.container{
    background: white;
    border-radius: 8px;
    width: 400px;
}
.container header{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: rgb(108, 194, 223);
    padding: 15px 18px;
    border-bottom: 1px solid lightgray;
}
header i{
    font-size: 0px;
    margin-right: 10px;
    display: none;
    cursor: pointer;
}
.container.active header i{
    font-size: 30px;
    margin-left: 5px;
}
.container.active .input-part{
    display: none;
}
.container .input-part{
    margin: 20px 25px 30px;
}
.input-part :where(button,input){
    width: 100%;
    border-radius: 7px;
    outline: none;
    height: 55px;
    border: none;
    font-size: 17px;
}
.input-part .separator{
    width: 100%;
    height: 1px;
    background: lightgray;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    content: "or";
    padding: 0 15px;
    font-size: 19px;
    background: white;
    color: lightblue;
}
.info-txt{
    display: none;
    font-size: 17px;
    border-radius: 7px;
    padding: 12px;
    text-align: center;
    margin-bottom: 13px;
}
.info-txt.error{
    display: block;
    color: rgb(211, 116, 116);
    background: rgb(230, 189, 189);
    border: 1px solid rgb(230, 189, 189);
}
.info-txt.pending{
    display: block;
    color: green;
    background: lightgreen;
    border: 1px solid lightgreen;
}
.input-part input{
    text-align: center;
    border: 1px solid lightgray;
}
.input-part input:is(:focus, :valid){
    border: 2px solid rgb(108, 108, 223);
}
.input-part button{
    cursor: pointer;
    color: white;
    background: rgb(132, 192, 212);
    margin-top: 5px;
}
.container .weather-part{
    display: none;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
    flex-direction: column;
}
.container.active .weather-part{
    display: flex;
}
.weather-part img{
    max-width: 125px;
}
.weather-part .temp{
    display: flex;
    font-weight: 500;
    font-size: 70px;
}
.weather-part .temp .num{
    font-weight: 600;
}
.weather-part .temp .deg{
    font-size: 40px;
    display: block;
}
.weather-part .weather{
    font-size: 30px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.weather-part .location{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.location i{
    font-size: 20px;
    margin-right: 10px;
}
.weather-part .bottom-details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}
.bottom-details .column{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}
.column i{
    color: rgb(116, 116, 233);
    font-size: 30px;
    margin-right: 10px;
}
.column.humidity{
    border-left: 1px solid lightgray;
}

.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
}
.details .temp .deg{
    font-size: 17px;
    margin-left: 5px;
    padding: 0 2px 0 1px;
}
.details p{
    font-size: 18px;
    margin-top: -6px;
}